[submodule "etl/source/ddf--gapminder--ontology"]
	path = etl/source/ddf--gapminder--ontology
	url = https://github.com/open-numbers/ddf--gapminder--ontology
[submodule "etl/source/ddf--open_numbers"]
	path = etl/source/ddf--open_numbers
	url = https://github.com/open-numbers/ddf--open_numbers.git
